/**
 * prism.js Funky theme
 * Based on “Polyfilling the gaps” talk slides http://lea.verou.me/polyfilling-the-gaps/
 * @editor Erna Ayuning Nareswari
 */

code[class*="language-"],
pre[class*="language-"]
{
	
        width:auto;
	font-family: Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: .4em .8em;
	margin: .5em 0;
	overflow: hidden;
	background-size: 1em 1em;
    background: rgb(34, 34, 34);
	border: 2px inset #1B1B1B;
	border-left: 4px solid #F7FE2E;
}

code[class*="language-"] {
	font-size:12px;
	color: #adff31;
	overflow-x: hidden;
    margin: 4px 0 20px;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .2em;
	border-radius: .3em;
	box-shadow: none;
	white-space: normal;
}

.token.comment {
	color: #e6e601;
}

.token.prolog {
	color: #e6014d;
}

.token.doctype {
	color: #86c902;
}

.token.cdata {
	color: #0198e5;
}

.token.punctuation {
	color: #f6fb02;
}

.namespace {
	opacity: .7;
}

.token.property {
	color: #FF0080;
}

.token.tag {
	color: #e109df;
}

.token.boolean,
.token.number {
	color: #e60101;
}

.token.constant {
	color: #c678dd;
}

.token.symbol {
	color: #014de6;
}

.token.selector {
	color: #05ffff;
}

.token.attr-name {
	color: #01e6e6;
}

.token.char,
.token.builtin {
	color:#d9d902;
}

.token.operator {
	color:red;
}

.token.entity,
.token.url {
	color: #ffc540;
}

.language-css .token.string {
	color: #ffa2cc;
}

.toke.variable,
.token.inserted {
	color: #ff3985;
}

.token.atrule,
.token.attr-value{
	color: #adff31;
}

.token.keyword {
	color: deeppink;
}

.token.regex,
.token.important {
	color: orange;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.deleted {
	color: red;
}
