/**
 * prism.js Funky theme
 * Based on “Polyfilling the gaps” talk slides http://lea.verou.me/polyfilling-the-gaps/
 * @editor Erna Ayuning Nareswari
 */

code[class*="language-"],
{
	
        width:auto;
	font-family: special elite;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: .4em .8em;
	margin: .5em 0;
	overflow: hidden;
   background: url('http://dl7.glitter-graphics.net/pub/2595/2595287f4vidskup2.gif')repeat fixed;
}

code[class*="language-"] {
	font-size:13px;
	color: #0B3861;
	overflow-x: hidden;
    margin: 4px 0 20px;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .2em;
	border-radius: .3em;
	box-shadow: none;
	white-space: normal;
}

.token.comment {
	color: Mediumslateblue;
}

.token.prolog {
	color: #e6014d;
}

.token.doctype {
	color: #86c902;
}

.token.cdata {
	color: #0198e5;
}

.token.punctuation {
	color: #6E6E6E;
}

.namespace {
	opacity: .9;
}

.token.property {
	color: #2E3B0B;
}

.token.tag {
	color: #0cf;
}

.token.boolean,
.token.number {
	color: #0cf;
}

.token.constant {
	color: #0cf;
}

.token.symbol {
	color: #0cf;
}

.token.selector {
	color: #61380B;
}

.token.attr-name {
	color: #01e6e6;
}

.token.char,
.token.builtin {
	color:#d9d902;
}

.token.operator {
	color:red;
}

.token.entity,
.token.url {
	color: #B45F04;
}

.language-css .token.string {
	color: hotpink;
}

.token.variable {
	color: #0101DF;
}

.token.inserted {
	color: #ff3985;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: deeppink;
}

.token.regex,
.token.important {
	color: orange;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.deleted {
	color: red;
}
